<h1><%= @list.name %></h1>
<ul>
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.where(movie: movie, list: @list).first %>
  <li><%= movie.title %> <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Delete bookmark?"} do %> <i class="fa-solid fa-trash"></i></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Back to Lists", "/lists", class: "btn btn-primary"%>
<%= link_to "Add a Movie",  new_list_bookmark_path(@list), class: "btn btn-primary"%>
