<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>">
  <%= @list.name %>
</div>
<div>
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.where(movie: movie, list: @list).first %>
    <div class="card-product">
      <img src=<%= movie.poster_url %> />
        <div class="card-product-infos">
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
          <% rating = movie.rating.to_i %>
          <% un_rating = (10 - rating) %>
          <% rating.times do %>
          <span class="fa fa-star checked"></span>
          <% end %>
          <% un_rating.times do %>
          <span class="fa fa-star"></span>
          <% end %>
          <p>User comment: <%= bookmark.comment %></p>
        </div>
        <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Delete bookmark?"} do %> <i class="fa-solid fa-trash align-self-end"></i></li>
      <% end %>
        </div>
    <% end %>
</div>
</div>
<div>
<%= link_to "Add a Movie",  new_list_bookmark_path(@list), class: "nav-button"%>
<%= link_to "Back to Lists", "/lists", class: "nav-button"%>
</div>
